* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

button:active{
  transform: scale(.1);
}

html{
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.navbar {
  width: 100%;
  height: 70px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(211, 211, 211, 0.404);
  backdrop-filter: blur(15px);
}

.navbar .menu {
  /* border: 1px solid green; */
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar .menu ul {
  display: flex;
  gap: 15px;
}

.navbar .menu ul a {
  color: #1e8bff;
  font-size: 17px;
  transition: .3s;
}
.navbar .menu ul a:hover {
  color: #dc780b;
}

.navbar .logo {
  /* border: 1px solid green; */
  margin-right: 120px;
}

.navbar .logo button {
  width: 100px;
  height: 55px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #dc780b;
  font-size: 17px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

.navbar .logo button:hover {
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.637);
  backdrop-filter: blur(15px);
  color: #dc780b;
  border: 1px solid #dc780b;
}

.logo button b {
  font-size: 19px;
  font-weight: 900;
}

.block-1 {
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
}

.block-1 .box {
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.block-1 .box h1 {
  width: 550px;
  font-size: 45px;
  padding: 20px;
  /* border: 1px solid red; */
}

.block-1 .box p {
  width: 500px;
  font-size: 18px;
}

.btn-div {
  width: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.btn-div .order-btn {
  width: 100px;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
  background-color: #dc780b;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.btn-div .food-btn {
  width: 100px;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #dc780b;
  border-radius: 4px;
  background-color: white;
  color: #dc780b;
  cursor: pointer;
  transition: 0.5s;
}

.food-btn:hover {
  background-color: #dc780b;
  color: white;
  border: none;
}

.order-btn:hover {
  background-color: white;
  color: #dc780b;
  border: 1px solid #dc780b;
}

.block-2 {
  width: 100%;
  height: 70vh;
  /* border: 1px solid red; */
  text-align: center;
  flex-direction: column;
}

.card-block {
  width: 100%;
  height: 73%;
  display: flex;
  /* border: 1px solid red; */
}

.card-block .card {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid red; */
}

.card-block .card p {
  width: 300px;
}

.text-block {
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
}

.text-block h1 {
  margin-top: 30px;
}
.text-block p {
  color: #ffa500;
  font-weight: bold;
  margin-top: 10px;
}

.block-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  /* border: 1px solid red; */
}

.block-3 .box {
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
  position: relative;
}

.block-3 .box img:nth-child(1) {
  position: absolute;
  bottom: 30px;
}

.block-3 .box .user1 {
  width: 380px;
  height: 380px;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 100px;
}

.block-3 .box:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

.block-3 .box h4 {
  color: #ffa500;
}

.block-3 .box h1 {
  width: 450px;
  font-size: 40px;
}

.block-3 .box p {
  width: 450px;
  font-size: 18px;
}

.block-3 .box button {
  width: 100px;
  height: 45px;
  font-size: 17px;
  font-weight: bold;
  background-color: #dc780b;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.block-3 .box button:hover {
  background-color: white;
  color: #dc780b;
  border: 1px solid #dc780b;
}

.block-4 {
  width: 100%;
  height: 155vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.text p {
  width: 50%;
  text-align: center;
  font-size: 18px;
}

.text h4 {
  font-size: 20px;
  color: #ffa500;
}

.box-card {
  width: 100%;
  height: 122vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.box-card .card {
  width: 360px;
  height: 400px;
  border-radius: 50px 6px 6px 0;
  background-color: #f8f9fa;
  box-shadow: 10px 10px 20px lightgrey;
  /* cursor: pointer; */
}

.box-card .card button{
  width: 30px;
  height: 30px;
  background-color: #dc780b;
  transform: translateX(20px);
  border: none;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: .5s;
}

.box-card .card button:hover{
  background-color: white;
  color: #dc780b;
  border: 1px solid #dc780b;
}

.box-card .card img {
  border-radius: 50px 6px 6px 6px;
}

.box-card .card p {
  padding: 10px;
  font-size: 15px;
}

.box-card .card h4 {
  padding: 10px;
  font-size: 22px;
}

.name-price {
  display: flex;
  justify-content: space-between;
}

.block-5 {
  width: 100%;
  height: 100vh;
  display: flex;
}

.block-5 .box:nth-child(2){
  align-items: flex-end;
}

.block-5 .box {
  width: 100%;
  height: 100%;
}

.block-5 .box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.block-5 h1 {
  font-size: 35px;
  width: 700px;
  margin-top: 30px;
}

.block-5 p {
  margin-top: 30px;
  font-size: 18px;
  width: 550px;
}

.block-5 h4 {
  color: #ffa500;
}

.block-5 img{
  width: 300px;
  height: 500px;
  /* border: 1px solid red; */
}

.buttons {
  display: flex;
  gap: 10px;
}

.app-store {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.app-store:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.google-play {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.5s;
  cursor: pointer;
}

.google-play:hover {
  background-color: black;
  color: white;
}

.block-6{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.block-6 h4{
  color: #ffa500;
}

.block-6 .first{
  width: 550px;
  text-align: center;
}

.block-6 div{
  text-align: center;
}

.block-6 .second{
  width: 450px;
  text-align: center;
}

.block-7{
  width: 100%;
  height: 50vh;
  display: flex;
  background-color: #FBF1E7;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.block-7 h4{
  color: #ffa500;
}

.block-7 h2{
  text-align: center;
  width: 850px;
}

.block-7 input{
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
}

.block-7 button{
  width: 100px;
  height: 42px;
  background-color: #dc780b;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .5s;
}

.block-7 button:hover{
  color: #dc780b;
  border: 1px solid #dc780b;
  background-color: white;
}

.block-8{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.block-8 .big-card{
  width: 40%;
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.block-8 .card{
  width: 30%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.block-8 h4{
  font-size: 18px;
  color: white;
}

.block-8 a, p{
  color: grey;
  transition: .5s;
}

.block-8 a:hover{
  color: white;
}

.mob-btn{
  display: none;
}

/* #product_modal{
  width: 85%;
  height: 80vh;
  position: fixed;
  left: -50%;
  top: 50%;
  background-color: rgba(255, 140, 0, 0.486);
  backdrop-filter: blur(30px);
  border-radius: 15px;
  box-shadow: 0 0 12px 4px rgba(252, 154, 35, 0.486);
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 4;
}
.openModal{
  top: 55% !important;
  left: 50% !important;
} */







































@media screen and (max-width: 600px) {
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: lightblue;
  }

  .container{
    overflow: hidden;
  }

  .mob-btn{
    display: block;
    width: 30px;
    height: 45px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 50px;
    background-color: lightblue;
    border-radius: 6px;
    border: 1px solid blue;
    /* margin-right: 20px; */
    position: relative;
    right: 5px;
    cursor: pointer;
    transition: .5s;
    color: blue;
  }

  .mob-btn:hover{
    background-color: blue;
    border: 1px solid lightblue;
    color: lightblue;
  }

  .mob-btn:active{
    background-color: lightblue;
    color: blue;
  }

  .block-1 {
    flex-direction: column;
  }
  .block-1 .box {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .block-1 .box h1 {
    font-size: 30px;
    width: 100%;
    margin-top: 20px;
  }

  .block-1 .box p {
    font-size: 15px;
    width: 90%;
  }

  .block-1 .box button {
    margin-bottom: 40px;
  }

  .block-1 .box img {
    width: 350px;
    height: 400px;
  }

  .block-2 {
    height: 100%;
  }

  .text-block h1 {
    font-size: 25px;
  }

  .card-block {
    flex-direction: column;
  }
  .card-block .card {
    width: 100%;
  }

  .block-3 {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  .block-3 .box {
    padding: 10px;
    text-align: left;
    width: 100%;
  }

  .block-3 .box h1 {
    font-size: 25px;
    width: 350px;
    position: relative;
    right: 25px;
  }

  .block-3 .box p {
    width: 350px;
    font-size: 15px;
    position: relative;
    right: 25px;
  }

  .block-3 .box button {
    position: relative;
    right: 20px;
  }

  .block-3 .box img:first-child {
    width: 390px;
    height: 450px;
    position: relative;
    right: 30px;
  }

  .block-3 .box .user1 {
    width: 280px;
    height: 280px;
    position: absolute;
    top: -20px;
    left: -80px;
  }

  .block-3 .box h1{
    font-size: 20px;
}

.block-3 .box p{
  font-size: 12px;
}

.block-3 .box button{
  font-size: 12px;
  width: 90px;
  height: 30px;
}

.block-3 .box h4{
  font-size: 12px;
}

.block-3 .box{
  padding: 10px;
}

  .block-4 {
    height: 100%;
  }


  .text h1 {
    font-size: 20px;
  }

  .text p {
    font-size: 12px;
    width: 100%;
  }

  .box-card {
    height: 100%;
  }

  .box-card .card {
    width: 90%;
  }

  .block-4 .box-card .card h4{
    font-size: 18px;
  }
  .block-4 .box-card .card p{
    font-size: 15px;
  }
  .box-card .card img {
    width: 100%;
  }

  .block-5 {
    flex-direction: column;
    height: 100% !important;
    overflow: hidden;
  }
  .block-5 .box {
    width: 100% !important;
  }
 
  .block-5 img {
    width: 300px;
    height: 600px;
  }

  .block-5 .box:nth-child(2) img {
    /* border: 1px solid red; */
    position: relative;
    left: 5px;
  }

  .block-5 .box h4{
    font-size: 15px;
  }

  .block-5 h1 {
    font-size: 20px;
    width: 380px;
    position: relative;
    right: 30px;
  }

  .block-5 p {
    font-size: 12px;
    width: 300px;
    position: relative;
    left: -30px;
  }

  .block-5 .buttons{
    position: relative;
    right: 30px;
  }

  .block-5 .box img{
    padding: 20px;
    position: relative;
    right: 20px;
  }

  .block-6{
    overflow: hidden;
  }

  .block-6 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .block-6 div h1{
    font-size: 25px;
    width: 380px;
  }

  .block-6 div .first{
    width: 380px;
    padding: 20px;
    font-size: 12px;
  }

  .block-6 div .second{
    width: 380px;
    font-size: 12px;
    padding: 20px;
  }

  .block-6 h2{
    font-size: 15px;
  }
  .block-6 h4{
    font-size: 15px;
  }

  .block-6 p{
    font-size: 15px;
  }

  .block-6 h1{
    font-size: 18px !important;
    padding: 10px;
  }

  .block-7{
    overflow: hidden;
    /* border: 1px solid red; */
  }

  .block-7 h2{
    font-size: 15px;
    width: 380px;
    padding: 10px;

  }

  .block-7 input{
    width: 220px;
  }

  .block-8{
    width: 100%;
    height: 100%;
    /* flex-direction: column; */
    flex-wrap: wrap;

  }

  .block-8 .card{
    /* width: 100%; */
    /* border: 1px solid red; */
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  .block-8 h4{
    font-size: 12px;
  }

  .block-8 .food{
    padding: 10px;
  }

  .block-8 .logos img{
    width: 12px;
  }

  .block-8 .big-card{
    font-size: 15px;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width:900px){
  .block-1 h1{
    font-size: 20px;
  }
}




